extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Name
        h1 Alessandro Canova

         //- Elevator pitch
        p.lead.text-light
          | Full Stack JavaScript Developer

        //- Bio
        .portfolio-bio
          p
            | Hi! I am an aspiring full stack developer currently studying at Team Treehouse academy!
            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Skills
        ul
          li JavaScript
          li JSON
          li Node.js
          li Express
          li Pug
          li HTML
          li CSS
          li Bootstrap
          li Responsive Design
          li Git


        h6 Contact Info
        
        ul
          li: address: a(href="mailto:alessandrocanova14@gmail.com") alessandrocanova14@gmail.com

       
        a.button.expanded(href='https://github.com/alecanova' target='_blank') GitHub
    
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  